<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <div id="root">
      <header>HEADER</header>
      <nav id="nav">
        <div class="container-nav">
          <h1 class="protest-guerrilla-regular">Devtech Hidayah</h1>
          <ul class="list-nav">
            <li>Home</li>
            <li>Gallery</li>
            <li>Contact</li>
            <li>About</li>
          </ul>
        </div>
      </nav>
      <div>
        <main>MAIN</main>
        <aside>ASIDE</aside>
      </div>
      <footer>FOOTER</footer>
    </div>
    <script src="app.js"></script>
  </body>
</html>
