<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>Home</h1>
    <h3><%= `hello`.toUpperCase() %></h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa fugit numquam necessitatibus nostrum nisi voluptatem consequatur mollitia esse, sunt id et nulla rerum corporis harum deserunt, enim veniam. Animi reprehenderit delectus
      facilis aperiam quas veniam debitis sit aliquid, molestias dolorum modi fugiat fugit, fuga eligendi numquam omnis voluptatem nisi. Facere, asperiores nisi obcaecati quisquam fugiat deleniti laudantium alias quas quia aspernatur
      excepturi fuga adipisci et. Tempora tenetur, nam sunt, sapiente illum harum aut, aperiam cum voluptatem aspernatur dolore modi! Aspernatur est asperiores fugiat cupiditate qui reprehenderit laborum tempore, molestias voluptates!
      Debitis placeat ullam assumenda fuga quis rerum minima facere ipsum!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa fugit numquam necessitatibus nostrum nisi voluptatem consequatur mollitia esse, sunt id et nulla rerum corporis harum deserunt, enim veniam. Animi reprehenderit delectus
      facilis aperiam quas veniam debitis sit aliquid, molestias dolorum modi fugiat fugit, fuga eligendi numquam omnis voluptatem nisi. Facere, asperiores nisi obcaecati quisquam fugiat deleniti laudantium alias quas quia aspernatur
    </p>
  </body>
</html>
