body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.container-article {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.article-card {
  width: 400px;
  border: 1px solid black;
}

.image-show {
  width: 100%;
}

.container-aside {
  width: 200px;
  border: 1px solid black;
}

.other-articles {
  width: 100%;
}

.other-articles img {
  width: 100%;
}
